.card {
  font-family: Mulish;
  display: flex;
  position: relative;
  width: 314px;
  height: 464px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  .background {
    overflow: hidden;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    img {
      position: absolute;
      opacity: 0.7;
      top: -200px;
      z-index: 0;
    }
  }

  .itemContainer {
    width: 314px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: absolute;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    img {
      border-radius: 50%;
      width: 140px;
      margin: 35px 0 50px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    p {
      font-weight: normal;
      font-size: 14.4px;
      padding: 0 20px;
    }
  }

  .btnContainer {
    width: 314px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    bottom: 30px;
    position: absolute;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 45px;
      background: #e25050;
      box-shadow: 0px 10px 20px rgba(101, 41, 255, 0.15);
      border: none;
      border-radius: 30px;
      font-weight: bold;
      font-size: 18px;
      line-height: 37px;
      color: #ffffff;
      padding: 0px;
      margin: 5px auto 15px;
      transition: 0.25s;
      cursor: pointer;
      z-index: 1;
      &:hover {
        transform: translateY(-5px);
      }
    }

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: #152032;
      padding-bottom: 7px;
    }
    h3 {
      font-weight: 800;
      font-size: 12.6px;
      letter-spacing: 2px;
      color: #f25656;
    }
  }
}
