.carouselContainer {
  z-index: 3;
  .title {
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    color: #253757;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .carousel {
    margin: 0 auto;
    position: relative;
    display: flex;
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
    }
    .slick-prev {
      left: 5%;
    }
    .slick-next {
      right: 5%;
    }

    div {
      font-family: Mulish;

      .background {
      }
      img {
        border-radius: 50%;
        width: 100px;
      }
      p {
        font-style: italic;
        font-weight: normal;
        font-size: 14.4px;
      }
      hr {
      }
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 12.6px;
        color: #152032;
      }
      h3 {
        font-weight: 800;
        font-size: 12.6px;
        letter-spacing: 2px;
        color: #f25656;
      }
    }
  }
}
