.carouselContainer {
  margin-bottom: 400px;
  z-index: 3;
  .title {
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    color: #253757;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 80px;
  }
  .carousel {
    text-align: center;
    margin: 0 40px 0;
    justify-content: space-between;
    position: relative;
    display: flex;
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
    }
    .slick-prev {
      left: 5%;
    }
    .slick-next {
      right: 5%;
    }
  }
}
