.landing {
  background-color: antiquewhite;
  .landing_title {
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    color: white;
    span {
      color: #9de1e5;
      font-family: "Leckerli One", cursive;
      font-style: normal;
      font-weight: normal;
    }
  }
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
  }
}
