.DateBlock {
  margin: 1%;
  width: 12%;
  display: inline-block;
  text-align: center;
  h4 {
    padding: 0;
    font-size: 80%;
    margin: 5px 0 2px;
    .weekend {
      color: #e25050;
    }
    .workday {
      color: #999999;
    }
  }
}

.DateButtonBox {
  // background-color: rgba(202, 37, 37, 0.582);
  text-align: center;
}

.RankingButton {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  // padding-top: 100%;
  border-radius: 18px;
  border: none;
  cursor: pointer;
}

.RankingButtonIcon {
  overflow-y: hidden;
  .keyButton {
    width: 100%;
  }
}

.hiddenText {
  color: rgb(200, 200, 200);
}

.hiddenBox {
  background-color: rgb(220, 220, 220);
}
