.Content {
  overflow-y: hidden;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;

  .ErrorPage {
    background-color: rgba(255, 255, 255, 0);
  }
}

.RoomForm::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.RoomForm::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.RoomForm::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e25050;
}

.RoomForm {
  margin: 2% auto 1%;
  // background-color: rgba(245, 245, 245, 0.842);
  // border-radius: 10px;
  background: rgba(230, 230, 230, 0.6);
  border: 10px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 2%;
  text-align: center;
  // overflow-y: hidden;
  width: 55%;
  max-height: 80%;
  font-size: 18px;
  font-family: Roboto;
  z-index: 10;

  h2 {
    color: #253757;
    font-weight: bold;
    font-size: 200%;
    margin: -2% 0 3%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h3 {
    font-weight: bold;
    color: #253757;
    margin: 3% 0;
    span {
      color: #e25050;
    }
  }

  p {
    color: #253757;
    font-size: 90%;
    max-width: 800px;
    margin: 0 auto;
  }

  .iconContainer {
    padding: 0;
    margin: 5px auto 0;
    p {
      font-size: 100%;
    }
    .iconBox {
      display: inline-block;
      vertical-align: top;
      background-color: rgba(228, 228, 228, 0.719);
      border-radius: 10px;
      text-align: center;
      margin: 10px;
      padding: 1%;
      width: 16%;
      overflow-y: hidden;
      p {
        font-size: 80%;
        font-weight: bold;
        color: #4e5768a2;
        margin-top: 2%;
        margin-bottom: 0px;
      }
      .keyButton {
        height: 50px;
      }
    }
  }

  .RoomFormError {
    margin: 13% auto;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 10px;
    padding: 4% 2% 2%;
    text-align: center;
    font-size: 120%;
    width: 30%;
    p {
      padding: 0 10%;
    }
    button {
      display: inline-block;
      margin: 15px 10px;
      background: #e25050;
      box-shadow: 0px 4px 4px rgba(101, 41, 255, 0.15);
      width: 170px;
      height: 40px;
      font-weight: bold;
      font-size: 90%;
      color: #ffffff;
      border: none;
      border-radius: 10px;
      transition: 0.25s;
      cursor: pointer;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

.DateButtons {
  margin: 2% 8%;
  text-align: left;
  z-index: 3;
}

.footerButtons {
  text-align: center;
  width: 55%;
  p {
    color: #253757;
    font-size: 100%;
    margin: 0 auto;
  }
  .btnContainer {
    z-index: 3;
    margin: 15px 0 15px;
    button {
      display: inline-block;
      margin: 5px 10px;
      background: #e25050;
      box-shadow: 0px 4px 4px rgba(101, 41, 255, 0.15);
      width: 150px;
      height: 40px;
      font-weight: bold;
      font-size: 20px;
      color: #ffffff;
      border: none;
      border-radius: 10px;
      transition: 0.25s;
      cursor: pointer;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

.RoomFormBackground {
  .wave1Container {
    overflow: hidden;
    position: absolute;
    top: 119px;
    left: -90px;
    z-index: -1;
    img {
      height: 100%;
    }
  }

  .wave2Container {
    overflow: hidden;
    position: absolute;
    top: 445px;
    left: -973px;
    z-index: -1;
    img {
      height: 100%;
    }
  }

  .wave3Container {
    overflow: hidden;
    position: absolute;
    top: 242px;
    left: -527px;
    z-index: -1;
    img {
      height: 100%;
    }
  }

  .homebtnContainer {
    position: absolute;
    top: 55px;
    left: 50px;
    z-index: 3;
    transition: 0.25s;
    cursor: pointer;
    img {
      height: 100%;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }

  .hambtnContainer {
    position: absolute;
    top: 55px;
    right: 50px;
    z-index: 3;
    transition: 0.25s;
    cursor: pointer;
    img {
      width: 75px;
      height: 75px;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
}
