.button {
  padding: 30px 30px;
  background-color: white;
  border-radius: 15px;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: black;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
  }
}

.buttonOnClick {
  background-color: lightblue;
  opacity: 0.6;
  color: black;
}
