.room {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d2e9ff;

  h1 {
    font-size: 50px;
  }

  .dataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .responseFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 32px;
      padding: 16px;
      overflow: hidden;
    }
  }

  .resultContainer {
    margin-top: 40px;
  }
}
