.room {
  overflow-y: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;

  .wave1Container {
    overflow: hidden;
    position: absolute;
    top: 229px;
    width: 2294px;
    height: 374px;
    left: -23px;
    z-index: 0;
    img {
      height: 100%;
    }
  }
  .wave2Container {
    overflow: hidden;
    position: absolute;
    top: 480px;
    left: -260px;
    z-index: 1;
    img {
      height: 100%;
    }
  }

  .calImg {
    position: absolute;
    top: 118px;
    left: 32px;
    width: 516px;
    height: 511px;
    z-index: 1;
    overflow: hidden;
  }

  .downarrContainer {
    position: absolute;
    bottom: 55px;
    left: calc(50% - 47.5px);
    z-index: 1;
    transition: 0.25s;
    cursor: pointer;
    img {
      height: 100%;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }

  .homebtnContainer {
    position: absolute;
    top: 55px;
    left: 50px;
    z-index: 1;
    transition: 0.25s;
    cursor: pointer;
    img {
      height: 100%;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }

  .hambtnContainer {
    position: absolute;
    top: 55px;
    right: 50px;
    z-index: 1;
    transition: 0.25s;
    cursor: pointer;
    img {
      width: 75px;
      height: 75px;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }

  h1 {
    color: #253757;
    font-weight: bold;
    font-size: 60px;
    margin: 55px 0 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .dataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 70px;
      color: #e25050;
      text-align: center;
      text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    }
  }

  .responseFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 32px;
      padding: 16px;
      overflow: hidden;
    }
  }

  .resultContainer {
    margin-top: 40px;
  }

  .clickDiddyClick {
    background-color: grey;
    border-radius: 10px;
  }
}
