.roomsetup {
  background-color: antiquewhite;
  color: #e25050;
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;

  .homebtnContainer {
    position: absolute;
    top: 55px;
    left: 50px;
    z-index: 1;
    transition: 0.25s;
    cursor: pointer;
    img {
      height: 100%;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }

  .hambtnContainer {
    position: absolute;
    top: 55px;
    right: 50px;
    z-index: 1;
    transition: 0.25s;
    cursor: pointer;
    img {
      width: 75px;
      height: 75px;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }

  .backgroundContainer {
    position: absolute;
    width: 100%;
    z-index: 0;
    img {
      height: 100%;
    }
  }

  .title {
    color: #253757;
    font-weight: bold;
    font-size: 60px;
    margin: 55px 0 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .roomsetup_form {
    margin: 200px auto 0;
    z-index: 1;

    .formContainer {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0 auto 20px;
    }

    .dateContainer {
      display: flex;
      flex-direction: column;

      .inputContainer {
        display: flex;
        flex-direction: row;
        input {
          width: 250px;
          height: 50px;
          background: #ffffff;
          border: 3px solid #e25050;
          box-sizing: border-box;
          border-radius: 8px;
          color: #19181a;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          padding: 0 0 0 15px;
          margin-top: 10px;
          outline: none;
        }

        .endInput {
          margin: 0 0 0 30px;
          margin-top: 10px;
        }
      }

      .textContainer {
        width: 540px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        h2 {
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
    }
    .groupContainer {
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      .inputContainer {
        display: flex;
        flex-direction: row;

        input {
          width: 250px;
          height: 50px;
          background: #ffffff;
          border: 3px solid #e25050;
          box-sizing: border-box;
          border-radius: 8px;
          color: #19181a;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;
          padding: 0 0 0 15px;
          margin-top: 10px;
          outline: none;
        }
      }

      .textContainer {
        width: 260px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        h2 {
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p {
          width: 250px;
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      width: 250px;
      height: 50px;
      background: #e25050;
      box-shadow: 0px 10px 20px rgba(101, 41, 255, 0.15);
      border: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 24px;
      line-height: 37px;
      color: #ffffff;
      transition: 0.25s;
      margin-right: 10px;
      cursor: pointer;
      z-index: 1;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
